/* ---------- Logo ---------- */
.logo {
  display: inline-block;
  line-height: 1;
  vertical-align: middle; }

/* ---------- Table styles ---------- */

/* ---------- Text formatting ---------- */
.important {
  font-weight: bold; }

/* ---------- Main content body ---------- */
.portal-iframe #main-content {
  width: 100%; }

/* ---------- Wrapper ---------- */
#wrapper {
  padding: 2em 5em 0;
  position: relative; }
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0.5em;
      padding-right: 0.5em; } }
  @media (min-width: 768px) and (max-width: 979px) {
    #wrapper {
      padding-left: 2em;
      padding-right: 2em; } }

/* ---------- Navigation portlet ---------- */
.nav-menu ul {
  padding-left: 10px; }
.nav-menu li a.ancestor {
  font-weight: bold; }
.nav-menu li a.selected {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

.nav-menu-style-arrows ul {
  list-style-image: url(/ehu-theme/css/../images/arrows/04_right.png); }


  .aui body:not(.portal-popup) abbr[title],
  .aui body:not(.portal-popup) abbr[data-original-title] {
    border-color: currentColor; }

  .aui body:not(.portal-popup) .scroll-wrapper {
    overflow: auto; }
  .aui body:not(.portal-popup) #wrapper {
    background-color: #f9f9f9;
    border: 0;
    margin: 0 auto;
    padding: 0; }
  .aui body:not(.portal-popup) #main-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #efefef;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px #efefef;
    margin-bottom: 15px; }
  .aui body:not(.portal-popup) #column-1,
  .aui body:not(.portal-popup) #column-2,
  .aui body:not(.portal-popup) #column-3 {
    margin-bottom: 20px;
    margin-top: 20px; }
  .aui body:not(.portal-popup) #layout-column_column-1 {
    margin-left: 1.2em;
    margin-right: 1.2em; }
  .aui body:not(.portal-popup) #layout-column_column-3,
  .aui body:not(.portal-popup) .span9 #layout-column_column-2 {
    margin-right: 1.2em; }
  .aui body:not(.portal-popup) .portlet-column-content.empty {
    padding: 0; }
  .aui body:not(.portal-popup) h1 {
    border-bottom: 1px dotted #ccc;
    color: #555555;
    font-size: 24px;
    font-family: "ehuSans", sans-serif;
    line-height: 120%; }
  .aui body:not(.portal-popup) .lfr-admin-panel h1 {
    color: inherit;
    font-family: inherit; }
  .aui body:not(.portal-popup) h2 {
    color: #555555;
    font-family: "ehuSans", sans-serif;
    font-size: 18px;
    line-height: 100%; }
  .aui body:not(.portal-popup) a h2 {
    color: #0066b3; }
    .aui body:not(.portal-popup) a h2:focus, .aui body:not(.portal-popup) a h2:hover {
      color: #004980; }
  .aui body:not(.portal-popup) h3 {
    color: #555555;
    font-size: 16px;
    line-height: 100%;
    margin-top: 20px; }
  .aui body:not(.portal-popup) a h3 {
    color: #0066b3; }
    .aui body:not(.portal-popup) a h3:focus, .aui body:not(.portal-popup) a h3:hover {
      color: #004980; }
  .aui body:not(.portal-popup) h4 {
    color: #555555;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 100%; }
  .aui body:not(.portal-popup) h5 {
    color: #555555;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 100%; }
  .aui body:not(.portal-popup) h6 {
    color: #555555;
    font-size: 13px;
    line-height: 100%; }
  .aui body:not(.portal-popup) #skip-to-content:focus {
    background: #fff;
    clip: rect(auto auto auto auto);
    color: #000000;
    margin-top: 5px;
    left: 5px;
    padding: 5px;
    z-index: 200; }
  .aui body:not(.portal-popup) .hide-accessible {
    height: 0;
    width: 0; }
  .aui body:not(.portal-popup).eu-ES h1,
  .aui body:not(.portal-popup).eu-ES h2,
  .aui body:not(.portal-popup).eu-ES .journal-content-article .pretitle,
  .aui body:not(.portal-popup).eu-ES .journal-content-article .subtitle,
  .aui body:not(.portal-popup).eu-ES article.new blockquote,
  .aui body:not(.portal-popup).eu-ES .webform-portlet .webform-legend {
    font-family: "ehuSerif", sans-serif; }
  .aui body:not(.portal-popup) .top-menu {
    background: #252525;
    background: linear-gradient(to top, #050d16 0%, #454b53); }
  .aui body:not(.portal-popup).public-page .top-menu .navbar .nav li.selected a,
  .aui body:not(.portal-popup).public-page .top-menu .navbar .nav li abbr {
    color: #f4e5a7; }
  .aui body:not(.portal-popup).private-page .top-menu .navbar .nav li.selected a,
  .aui body:not(.portal-popup).private-page .top-menu .navbar .nav li abbr {
    color: #add8f8; }
  .aui body:not(.portal-popup) .top-menu .navbar {
    margin-bottom: 0px; }
    .aui body:not(.portal-popup) .top-menu .navbar .navbar-inner {
      background-color: transparent;
      background-image: none;
      border: none;
      filter: unset;
      padding-left: 0px; }
    .aui body:not(.portal-popup) .top-menu .navbar  {
      margin-left: 10px;
      margin-top: 4px; }
    .aui body:not(.portal-popup) .top-menu .navbar li {
      padding: 0;
      margin-bottom: 0; }
      .aui body:not(.portal-popup) .top-menu .navbar li::before {
        content: "|";
        color: #ecedee;
        left: 2px;
        position: relative; }
      .aui body:not(.portal-popup) .top-menu .navbar li:first-child::before, .aui body:not(.portal-popup) .top-menu .navbar {
        content: " "; }
    .aui body:not(.portal-popup) .top-menu .navbar .nav > li > a {
      color: #ecedee;
      display: inline-block;
      padding: 10px;
      text-shadow: none; }
    .aui body:not(.portal-popup) .top-menu .navbar .nav > li abbr {
      display: block;
      padding: 10px 15px 10px;
      text-shadow: none;
      text-transform: uppercase; }
    .aui body:not(.portal-popup) .top-menu .navbar .nav li > a:hover,
    .aui body:not(.portal-popup) .top-menu .navbar .nav li > a:focus {
      color: white; }
    .aui body:not(.portal-popup) .top-menu .navbar .nav > li.sign-in > a {
      padding: 5px 15px 5px; }
  .aui body:not(.portal-popup) .header-brand {
    padding: 8px 0; }
    .aui body:not(.portal-popup) .header-brand h1 {
      border-bottom: none; }
    .aui body:not(.portal-popup) .header-brand .logo {
      margin-left: 0.3em; }
    .aui body:not(.portal-popup) .header-brand h1.brand.span4 {
      margin-bottom: 0;
      margin-top: 0; }
      .aui body:not(.portal-popup) .header-brand h1.brand.span4 a {
        color: #f9f9f9;
        display: table;
        float: right;
        height: 82px;
        margin: 0;
        text-align: right; }
        .aui body:not(.portal-popup) .header-brand h1.brand.span4 a:focus, .aui body:not(.portal-popup) .header-brand h1.brand.span4 a:hover {
          text-decoration: none; }
        .aui body:not(.portal-popup) .header-brand h1.brand.span4 a img {
          max-height: 82px;
          max-width: none; }
        .aui body:not(.portal-popup) .header-brand h1.brand.span4 a .site-message {
          display: table-cell;
          font-weight: normal;
          vertical-align: middle; }
          .aui body:not(.portal-popup) .header-brand h1.brand.span4 a .site-message.little {
            font-size: 14px; }
          .aui body:not(.portal-popup) .header-brand h1.brand.span4 a .site-message.medium {
            font-size: 16px; }
          .aui body:not(.portal-popup) .header-brand h1.brand.span4 a .site-message.big {
            font-size: 18px; }
  .aui body:not(.portal-popup).private-page .header-brand {
    background: #1273BB;
    background: linear-gradient(to bottom, #2d90dc 0%, #1273bb); }
  .aui body:not(.portal-popup).public-page .header-brand {
    background-color: #555a60; }
  .aui body:not(.portal-popup) .sign-in a span.icon-lock {
    display: none; }
  .aui body:not(.portal-popup) .main-menu {
    background-color: #eeeeee;
    border: 1px solid #d4d4d4; }
  .aui body:not(.portal-popup) .main-menu .navbar {
    margin-bottom: 0px; }
    .aui body:not(.portal-popup) .main-menu .navbar .navbar-inner {
      background-color: transparent;
      background-image: none;
      background-repeat: repeat-x;
      border: medium none;
      border-radius: 0;
      box-shadow: none;
      filter: unset;
      padding-left: 0px; }
    .aui body:not(.portal-popup) .main-menu .navbar li {
      padding: 0;
      margin-bottom: 0; }
      .aui body:not(.portal-popup) .main-menu .navbar li::before {
        content: "|";
        color: #60656b;
        left: 2px;
        position: relative; }
      .aui body:not(.portal-popup) .main-menu .navbar li:first-child::before {
        content: " "; }
    .aui body:not(.portal-popup) .main-menu .navbar .nav > li > a {
      color: #60656b;
      display: inline-block;
      padding: 10px;
      text-shadow: none; }
    .aui body:not(.portal-popup) .main-menu .navbar .nav li > a:hover,
    .aui body:not(.portal-popup) .main-menu .navbar .nav li > a:focus {
      color: #ecedee;
      background-color: #555a60; }  .aui body:not(.portal-popup) .span6 .breadcrumbs .breadcrumb {
    margin-right: 0em; }
  .aui body:not(.portal-popup) .bottom-header {
    margin: 1em 0em; }

    .aui body:not(.portal-popup) .bottom-header .breadcrumbs {
      background-color: #eeeeee;
      border: 1px solid #d4d4d4;
      border-radius: 6px;
      padding: 2em 1em;
      margin-bottom: 0; }
      .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb {
        background-color: transparent;
        margin: 0 0 0 20px;
        padding: 0; }
        .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb::before {
          color: #888;
          content: "\f041";
          font-family: "fontawesome-alloy";
          font-size: 19px;
          position: relative;
          right: 20px; }
        .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb li {
          display: inline; }
          .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb li > .divider {
            display: none; }
          .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb li::before {
            color: #004980;

            font-family: "fontawesome-alloy";
            padding: 0 5px; }
          .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb li:first-child::before {
            content: "";
            margin-left: -14px;
            padding: 0; }
        .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb .active {
          color: #252525; }
        .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb a {
          color: #0066b3; }
          .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb a:focus, .aui body:not(.portal-popup) .bottom-header .breadcrumbs .breadcrumb a:hover {
            color: #004980; }

  .aui body:not(.portal-popup) #side-menu {
    margin-bottom: 20px;
    margin-left: 1.2em; }
    .aui body:not(.portal-popup) #side-menu a {
      color: #000000;
      display: block;
      padding-right: 10px; }
    .aui body:not(.portal-popup) #side-menu ul {
      margin: 0px; }
      .aui body:not(.portal-popup) #side-menu ul li {
        margin-bottom: 2px;
        background: #eeeeee;
        border: 1px solid #d4d4d4;
        border-radius: 6px;
        display: block;
        padding: 7px 10px; }
        .aui body:not(.portal-popup) #side-menu ul li:before {
          content: ""; }
        .aui body:not(.portal-popup) #side-menu ul li > span {
          position: absolute;
          right: 10px;
          top: 10px; }
        .aui body:not(.portal-popup) #side-menu ul li.sel {
          background: #1273bb; }
          .aui body:not(.portal-popup) #side-menu ul li.sel a {
            color: white; }
          .aui body:not(.portal-popup) #side-menu ul li.sel .children-marker {
            color: white; }
          .aui body:not(.portal-popup) #side-menu ul li.sel .sub-nav li {
            background: white; }
            .aui body:not(.portal-popup) #side-menu ul li.sel .sub-nav li a {
              color: #0066b3; }
        .aui body:not(.portal-popup) #side-menu ul li.has-sub-nav.class-toggle-active, .aui body:not(.portal-popup) #side-menu ul li.has-sub-nav.sel, .aui body:not(.portal-popup) #side-menu ul li.has-sub-nav.child-sel {
          border-radius: 6px 6px 0 0; }
        .aui body:not(.portal-popup) #side-menu ul li.has-sub-nav.class-toggle-active.sel, .aui body:not(.portal-popup) #side-menu ul li.has-sub-nav.class-toggle-active.child-sel {
          border-radius: 6px; }
        .aui body:not(.portal-popup) #side-menu ul li ul.sub-nav.level-2 {
          background: white;
          border-bottom: 1px solid #d4d4d4;
          border-left: 1px solid #d4d4d4;
          border-radius: 0 0 6px 6px;
          border-right: 1px solid #d4d4d4;
          margin: 10px -11px -11px; }
        .level-3 {
        border: 1px solid red;
          margin-left: 10px ; }
        .aui body:not(.portal-popup) #side-menu ul li ul li {
          background: none;
          border: none;
          border-radius: 0;
          padding-left: 1em; }
          .aui body:not(.portal-popup) #side-menu ul li ul li a::before {

            font-family: "fontawesome-alloy"; }
  .aui body:not(.portal-popup) .side-nav-item {
   } /* position: relative; */
  .aui body:not(.portal-popup) .has-sub-nav .sub-nav {
    display: none; }
  .aui body:not(.portal-popup) .has-sub-nav.class-toggle-active > .sub-nav,
  .aui body:not(.portal-popup) .has-sub-nav.sel > .sub-nav,
  .aui body:not(.portal-popup) .has-sub-nav.child-sel > .sub-nav {
    display: block; }
  .aui body:not(.portal-popup) .has-sub-nav.class-toggle-active .icon-chevron-down + .sub-nav,
  .aui body:not(.portal-popup) .has-sub-nav.sel .icon-chevron-down + .sub-nav,
  .aui body:not(.portal-popup) .has-sub-nav.child-sel .icon-chevron-down + .sub-nav {
    display: none; }
  .aui body:not(.portal-popup) .children-marker {
    color: #1273bb;
    cursor: pointer; }
  .aui body:not(.portal-popup) #column-2 > h1 {
    margin-right: 20px; }
  .aui body:not(.portal-popup) .footer-menu {
    background: #252525;
    background: linear-gradient(to top, #050d16 0%, #454b53);
    min-height: 40px; }
    .aui body:not(.portal-popup) .footer-menu ul.inline {
      margin-bottom: 0; }
      .aui body:not(.portal-popup) .footer-menu ul.inline > li {
        padding: 0; }
        .aui body:not(.portal-popup) .footer-menu ul.inline > li::before {
          content: "|";
          color: #ecedee; }
        .aui body:not(.portal-popup) .footer-menu ul.inline > li:first-child::before {
          content: " "; }
      .aui body:not(.portal-popup) .footer-menu ul.inline > li > a {
        color: #ecedee;
        display: inline-block;
        padding: 10px; }
      .aui body:not(.portal-popup) .footer-menu ul.inline li > a:hover, .aui body:not(.portal-popup) .footer-menu ul.inline li > a:focus {
        color: white;
        text-decoration: none; }
    .aui body:not(.portal-popup) .footer-menu p, .aui body:not(.portal-popup) .footer-menu .bottom-header .electronic-site #datetime-text h2, .aui body:not(.portal-popup) .bottom-header .electronic-site #datetime-text .footer-menu h2 {
      color: #ecedee;
      margin: 0;
      padding: 10px; }
  .aui body:not(.portal-popup) .back-to span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .aui body:not(.portal-popup) .back-to span.icon-chevron-left {
      font-family: "fontawesome-alloy"; }
  .aui body:not(.portal-popup) .taglib-header {
    border-bottom: none; }
  .aui body:not(.portal-popup) label {
    color: black;
  }

  .aui body:not(.portal-popup) .taglib-page-iterator {
    margin-bottom: 10px; }
    .aui body:not(.portal-popup) .taglib-page-iterator .lfr-pagination-delta-selector,
    .aui body:not(.portal-popup) .taglib-page-iterator .search-results {
      display: none; }


