a:link, a:visited,a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
.ocultar{
	display:none;
}
.mostrar{
	display:block;
}
.mostrarOcultar, .mostrarCursor{
    cursor: pointer;
}
/* DATATABLES */
td.details-control {
    background: url('/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('/images/details_close.png') no-repeat center center;
}
.form-group input {
  margin:0 5px;
  margin:5px 0;
 }
 .rounded {
  border-radius: 10px;
  background: #f1f1f1;
  padding:10px;
}
.margenBotonInsert{
    margin:20px 0 20px 0;
}

.margen-left {
  margin-left: 15px;
}
.lugar{
    margin-top: 2px;
}