
.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}
/* Tabs container */
.r-tabs {
    position: relative;

    background-color: #ccc;

    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 4px;
    margin:10px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    background-color: #f1f1f1;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
    display: inline-block;
    padding: 10px 12px;

    text-decoration: none;
    font-size: 14px;
    color: #7c6b6f;

}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    color: #7c6b6f;
    text-shadow: none;

    background-color: white;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
    background-color: white;

    border-bottom: 6px solid white;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;

    background-color: #f1f1f1;

    text-decoration: none;
    font-size: 14px;
    color: #7c6b6f;


    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #7c6b6f;
    text-shadow: none;
    border-bottom: 1px solid #ccc;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}


